<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Home Page | Sting</title>
    <link rel="shortcut icon"
          href="{% get_static_prefix %}images/leaf-icon-01.png"
          type="image/png">
</head>
<body>
<div style="display: table; position: absolute; height: 100%; width: 100%">
    <div style="display: table-cell; vertical-align: middle; padding-bottom: 16%">
        <div style="margin-left: auto; margin-right: auto; width: 200px;">
            <img src="{% get_static_prefix %}images/clover-icon-01.jpg" style="width: 200px">
        </div>
        <div style="margin-left: auto; margin-right: auto; width: 200px; text-align: center; font-family: Arial; font-size: 22px; color: darkgrey;">
            Oct 3rd, 2018
        </div>
    </div>
</div>
</body>
</html>